@import url("https://fonts.googleapis.com/css?family=Open+Sans");

$font-stack: "Open Sans", sans-serif;
$border-radius: 3px;

body {
  font-family: $font-stack;
}

.btn {
  border-radius: $border-radius;
}

.topic-list {
  border-spacing: 0 1rem;
  border-collapse: separate;
}

.topic-list-item {
  border-bottom: none;
}

.topic-list-item td {
  padding: 0 2rem;
  background-color: #262d33;
}

.topic-list-item:hover td {
  background-color: #3d4852;
}

.topic-list-item > .main-link {
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

.topic-list-item > td:last-child {
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}
