@import url("https://fonts.googleapis.com/css?family=Open+Sans");

$font-stack: "Open Sans", sans-serif;
$border-radius: 3px;

body {
  font-family: $font-stack;
}

.btn {
  border-radius: $border-radius;
}

/****************************************
 Dashboard Post List
*****************************************/

.topic-list {
  border-spacing: 0 1rem;
  border-collapse: separate;
}

.topic-list tbody {
}

.topic-list tbody tr {

}

.topic-list-item {
  border-bottom: none;
}

.topic-list-item td:first-of-type {
  padding: 1.5rem;
}

.topic-list-item td {
  padding: 1.5rem;
  background-color: #262d33;
}

.topic-list-item td::before, .topic-list-item td::after {
    content: none;
}

.topic-list-item:hover td {
  background-color: #3d4852;
}

.topic-list-item > td:first-child {
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

.topic-list-item > td:last-child {
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

/****************************************
 Topic Posts
*****************************************/


.topic-post {
    margin-bottom: 3rem;
}

.topic-post .topic-avatar {
    border-top: none;
}

.topic-post .topic-body {
    border-top: none;
    padding: 1rem;
    margin-left: 1rem;
    background-color: #262d33;
    border-radius: $border-radius;
}
