@import url("https://fonts.googleapis.com/css?family=Open+Sans");

$font-stack: "Open Sans", sans-serif;
$border-radius: 3px;

body {
  font-family: $font-stack;
}

.btn {
  border-radius: $border-radius;
}

.topic-list-item {
  border-bottom: none;
  border-spacing: 0.5rem;
  border-collapse: separate;
}

.topic-list-item > td {
  background-color: #262d33;
}

.topic-list-item > td:first-child {
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

.topic-list-item > td:last-child {
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}
